body {
  background: #ffffff url(/public/images/login/background.png) center
    center/cover no-repeat fixed;
}

input {
  border: none;
  background: none;
  color: #fff;
  padding: 0 5px;
}
.input-div {
  border: #ffffff solid 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}
.login-dev {
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
}
.login-dev input {
  color: blue;
}
img {
  margin-bottom: 20px;
}
